# Checking correlation between variables per country

One of the goals of Team 6 was to show the correlation between different variables in the OWID dataset. By exploring the correlation we tried to find interesting patterns

## Correlation Heatmaps

We have selected five countries that in our opinion have the most varieties relative to each other. The five countries we chose are:
- The Netherlands (NLD)
- India (IND)
- The United States of America (USA)
- Brazil (BRA)
- Niger (NER)

In this analysis we looked at the new cases, new deaths, total cases and total deaths. We looked for correlations between one of these variables relative to four other variables. These four variables we picked are:
- New vaccinations
- ICU patients
- Hospital patients
- Stringency index

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sb

pd.set_option('display.max_columns', None)

data = pd.read_csv(r"owid-covid-data.csv")
data = data.sort_values('date', ascending=True)
data['date'] = pd.to_datetime(data['date'], format = '%Y-%m-%d')
data_NLD = data[data.iso_code=='NLD']
data_IND = data[data.iso_code=='IND']
data_USA = data[data.iso_code=='USA']
data_BRA = data[data.iso_code=='BRA']
data_NER = data[data.iso_code=='NER']

## New cases and total cases in correlation to new vaccinations in the Netherlands

In [14]:
dfn = data_NLD[['new_cases', 'new_vaccinations_smoothed']]
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [15]:
dft = data_NLD[['total_cases', 'new_vaccinations_smoothed']]
corr = dft.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to new vaccinations in India

In [6]:
dfn = data_IND[['new_cases', 'new_vaccinations_smoothed']]
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [7]:
dft = data_IND[['total_cases', 'new_vaccinations_smoothed']]
corr = dft.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to new vaccinations in the USA

In [8]:
dfn = data_USA[['new_cases', 'new_vaccinations_smoothed']]
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [9]:
dft = data_USA[['total_cases', 'new_vaccinations_smoothed']]
corr = dft.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to new vaccinations in Brazil

In [10]:
dfn = data_BRA[['new_cases', 'new_vaccinations_smoothed']]
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [11]:
dft = data_BRA[['total_cases', 'new_vaccinations_smoothed']]
corr = dft.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to new vaccinations in Niger

In [12]:
dfn = data_NER[['new_cases', 'new_vaccinations_smoothed']]
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [13]:
dft = data_NER[['total_cases', 'new_vaccinations_smoothed']]
corr = dft.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to new vaccinations in the Netherlands

In [16]:
dfn = data_NLD[['new_deaths', 'new_vaccinations_smoothed']]
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [17]:
dft = data_NLD[['total_deaths', 'new_vaccinations_smoothed']]
corr = dft.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to new vaccinations in India

In [18]:
df = data_IND[['new_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [19]:
df = data_IND[['total_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to new vaccinations in the USA

In [20]:
df = data_USA[['new_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [21]:
df = data_USA[['total_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to new vaccinations in Brazil

In [22]:
df = data_BRA[['new_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [23]:
df = data_BRA[['total_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to new vaccinations in Niger

In [24]:
df = data_NER[['new_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [25]:
df = data_NER[['total_deaths', 'new_vaccinations_smoothed']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to ICU-patients in the Netherlands

In [26]:
df = data_NLD[['new_cases', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [27]:
df = data_NLD[['total_cases', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to ICU-patients in the USA

In [28]:
df = data_USA[['new_cases', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [29]:
df = data_USA[['total_cases', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to ICU-patients in the Netherlands

In [30]:
df = data_NLD[['new_deaths', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [31]:
df = data_NLD[['total_deaths', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to ICU-patients in the USA

In [32]:
df = data_USA[['new_deaths', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [33]:
df = data_USA[['total_deaths', 'icu_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to stringency-index in the Netherlands

In [243]:
df = data_NLD[['new_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [244]:
df = data_NLD[['total_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to stringency-index in India

In [246]:
df = data_IND[['new_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [247]:
df = data_IND[['total_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to stringency-index in the USA

In [125]:
df = data_USA[['new_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [249]:
df = data_USA[['total_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to stringency-index in Brazil

In [126]:
df = data_BRA[['new_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [251]:
df = data_BRA[['total_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to stringency-index in Niger

In [127]:
df = data_NER[['new_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [253]:
df = data_NER[['total_cases', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to stringency-index in the Netherlands

In [128]:
df = data_NLD[['new_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [255]:
df = data_NLD[['total_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to stringency-index in India

In [129]:
df = data_IND[['new_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [256]:
df = data_IND[['total_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to stringency-index in the USA

In [130]:
df = data_USA[['new_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [257]:
df = data_USA[['total_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to stringency-index in Brazil

In [131]:
df = data_BRA[['new_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [258]:
df = data_BRA[['total_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to stringency-index in Niger

In [132]:
df = data_NER[['new_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [259]:
df = data_NER[['total_deaths', 'stringency_index']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to hospital patients in the Netherlands

In [133]:
df = data_NLD[['new_cases', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [260]:
df = data_NLD[['total_cases', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New cases and total cases in correlation to hospital patients in the USA

In [135]:
df = data_USA[['new_cases', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [261]:
df = data_USA[['total_cases', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to hospital patients in the Netherlands

In [34]:
df = data_NLD[['new_deaths', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [35]:
df = data_NLD[['total_deaths', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

## New deaths and total deaths in correlation to hospital patients in the USA

In [36]:
df = data_USA[['new_deaths', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)

In [37]:
df = data_USA[['total_deaths', 'hosp_patients']]
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1)